* {
	margin: 0;
	padding: 0.05em;
}
html {
    
	background-color: rgba(255, 234, 115, 0.404);
}
header {

    font-size: 1.5rem;
}
body {
    font-size: 1rem;
}
h2 {
    font-size: 1rem;
}
h3 {
    font-size: 1rem;
}
ul, li {
    list-style-type: circle;
    list-style-position: inside;
}
aside {
    float: left;
}
section {
    clear: left;
}