* {
	margin: 0;
	padding: 0;
}
html {
    
	background-color: rgba(255, 234, 115, 0.404);
}
header {

    font-size: 200%;
}
section {
    font-size: x-large;
}
h1 {
	font-size: 200%;
}
h2{
	font-size: 100%
}