* {
	margin: 0;
	padding: 0;
}
html {
    
	background-color: rgba(255, 234, 115, 0.404);
}
header {

    font-size: 200%;
}
section {
    font-size: x-large;
}
h1 {
	font-size: 200%;
}
h3{
	float: left;
}
table, th, td {
  border: 1px dotted black;
}

tr:nth-child(even) {
	background-color:lightgray;
}
tr:nth-child(odd) {
	background-color:white;
}
tr:first-child {
	background-color: brown;
	color: white;
}